@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html{
    font-size: 62.5%;
}
:root{
    --primary-color: #FF7833;
    --secundary-color: #31333B;
    --secundary-ligth-color: #444856;
}
body{
    display: flex;
    margin: 0;
    flex-direction: row;
    background-color: #ccc;
    min-height: 100vh;
    line-height: 1.7;
    font-family: "Inter", sans-serif;
}
h1{
    font-size: 4rem;
    color: #7b7b7b;
}
h2, h3, h4, h5, h6{
    color: var(--primary-color);
}
p{
    color: #E7E7E7;
}

.container-header{
    flex: 0 0 26rem;
    background-color: var(--secundary-color);
}


.navegador{
    text-align: right;
    padding: 3.5rem 1.4rem 1.4rem;
}
.navegador ul{
    padding: 0;
    list-style-type: none;
}
.navegador ul a{
    display: block;
    text-decoration: none;
    color:#E7E7E7;
    padding: 1.2rem 0;
    transition: padding-right .2s background-color .4s;
    background-color: transparent;
}

.navegador ul a:hover{
    background-color: var(--secundary-ligth-color);
    padding-right: 1rem;
}

.navegador li{
    border-bottom: 1px solid #7b7b7b;
    padding: .4rem 0;
}


.container-principal{
    background-color: var(--secundary-ligth-color);
    flex: 1 0;
    padding: 6.5rem 6rem 6.5rem;
}

.container-principal, .container-header{
    font-size: 1.6rem;
}
.logo{
    max-width: 10rem;
    border: 2px solid #ff7733db;
    border-radius: 100%;
    box-shadow: 0 0 10px #FF7833;
    transition: box-shadow .2s;
}
.logo:hover{
    box-shadow:0 0 25px #FF7833;
}

.link-icon svg{
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    margin-right: 1rem;
    fill: currentColor;
    
}
.link-icon{
    display: inline-block;
    margin-right: 3rem;
    color: white;
    margin-top: 2rem;
    transition: color .2s;
    text-decoration: none;
}
.link-icon:hover{
    color:#FF7833;
}



